.loginbx {
  padding: 300px;
  padding-bottom: 400px;
  text-align: center;
  width: 60%;
}
.loginform {
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}
.createAcc {
  background-color: black;
  border-radius: 0px 0px 20px 20px;
}
.createAccbtn {
  background-color: #555555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
.createAccbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.createAccbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.createAccbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.createAccbtn:hover span {
  padding-right: 25px;
}

.createAccbtn:hover span:after {
  opacity: 1;
  right: 0;
}