.wathclistTitle{
    text-align: center;
    background-color: lightgray;
    color: black;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
}
.boxxxs{
    
}